---
layout: default
---

<div class="home">

  <h1 class="page-heading"> Archive</h1>
  
  <ul class="post-list">
    {% assign previousYear = "" %}
    {% for post in site.posts %}
    {% assign currentYear = post.date | date: "%Y" %}

    {% if previousYear != currentYear %}
    {% assign  previousYear = currentYear %}

      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="/archives/{{currentYear}}">{{ currentYear }}</a>
        </h2>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
