---
layout: default
---

<div class="home">

  <h1 class="page-heading">Home</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts  limit:5 %}
      <li>

        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>

        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% if post.author %}
          • <span class="post-meta"> {{ post.author }}</span>
        {% endif %}</p>
        
        <div class="post-content">
          {{post.excerpt| markdownify}}
        </div>

      </li>
    {% endfor %}
  </ul>
</div>
